*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
a{
text-decoration: none;
color: unset;
}
body{
font-family: Poppins, sans-serif;
background: #2a1646;
}
.container{
width: 90%;
max-width: 1200px ;
margin: auto;
}
.flex{
display: flex;
align-items: center;
}
.sb{
justify-content: space-between;
}
.sc{
justify-content: center;
}
.ac{
align-items: center;
}
li{
list-style: none;
}
span{
display: inline-block
}