* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: unset;
  display: inline-block;
}
p {
  color: #ffffffaf;
}
body {
  font-family: Montserrat, sans-serif;
  background: #000;
}
main {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
.container {
  width: 90%;
  max-width: 1280px;
  margin: auto;
}
.flex {
  display: flex;
  align-items: center;
}
.f-clmn {
  flex-direction: column;
}
.sb {
  justify-content: space-between;
}
.jc {
  justify-content: center;
}
.ac {
  align-items: center;
}
li {
  list-style: none;
}
span {
  display: inline-block;
}

/*------
 BUTTONS
 -----*/

.blueBtn {
  box-shadow: inset 2px 2px 10px -4px #fff;
  background-color: #5960e8;
  color: #fff;
}
button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding: 12px 14px;
  border: unset;
  border-radius: 8px;
  font-size: clamp(14px, 15px, 16px);
  transition: 0.3s ease;
  display: inline-block;
  opacity: 1;
}
button .text,
button .hover-text {
  display: block;
  transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
}
button .hover-text {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
}
button:hover .text {
  transform: translateY(-170%);
}
button:hover .hover-text {
  transform: translateY(-170%);
}
button:hover {
  box-shadow: 0px 0px 50px -10px #fff;
  transform: scale(1.05);
}
button:active {
  transform: scale(0.9);
}

/*----------
 ALL SECTION 
 ---------*/

section {
  height: 100vh;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/*-----
 Header 
 ----*/

header {
  background-color: #000000;
  width: 90%;
  margin: auto;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  color: #fff;
  height: 3.5rem;
  z-index: 999;
  user-select: none;
  border-radius: 8px;
  box-shadow:
    1px 1px 50px -20px #f680ff,
    1px 1px 50px -20px GOLDENROD;
}
.IconCol {
  display: none;
}
.logo {
  font-size: clamp(20px, 3vw, 20px);
  font-weight: 600;
}
.nav {
  gap: 15px;
}
.nav li {
  padding: 10px 15px;
  font-size: 14px;
  transition: 0.3s ease;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}
.nav li:hover {
  color: #ffffff;
  background-color: #5960e8;
  box-shadow:
    0px 0px 50px -10px #fff,
    inset 2px 2px 10px -4px #fff;
}
.nav li:active {
  transform: scale(0.9);
}
.ri-menu-4-line,
.ri-close-large-fill {
  display: none;
}
.ri-menu-4-line,
.ri-close-large-fill {
  font-size: 22px;
  color: #fff;
  margin-right: 10px;
}
.navRow {
  display: none;
  line-height: clamp(3rem, 5vw, 5rem);
  margin-top: 1rem;
  text-align: center;
  border-top: 0.1px solid #ffffffaf;
  padding: 20px 0px;
}
header.add {
  padding: 15px 0px;
  height: fit-content;
}
header.add .navRow {
  display: flex !important;
}
.navCol h2 {
  font-size: clamp(20px, 3vw, 30px);
  font-weight: 400;
}

/*---------------
 SECTION - 1 HERO 
 ---------------*/

.heroSec {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.heroSec::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  filter: blur(80px);
  opacity: 0.6;
  background: radial-gradient(circle at 50% 0%, #c500ff, #000000 60%);
  animation: rotateGlow 5s linear infinite;
}

@keyframes rotateGlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hero-content {
  position: relative;
  gap: 30px;
}
.hero-content h1 {
  font-size: clamp(35px, 5vw, 70px);
  line-height: clamp(2.6rem, 8vw, 7vw);
  font-weight: 600;
}
.hero-content p {
  font-size: clamp(14px, 16px, 16px);
  line-height: clamp(1.5rem, 1.5rem, 1.5rem);
  color: #ffffffaf;
}
.hero-content p:nth-child(1) {
  font-size: 12px;
  padding: 5px 15px;
  width: fit-content;
  border-radius: 30px;
  border: 1px solid #ffffff78;
}
.btn-set {
  gap: 15px;
}

/*------------------
 SECTION - 2 BRANDS 
 -----------------*/

.brandsSec {
  padding: 50px 0px;
  text-align: center;
  height: fit-content;
  display: block;
}
.brandsSec h2 {
  font-size: clamp(16px, 16px, 16px);
  font-weight: 500;
  margin-bottom: 35px;
}
.outter {
  position: relative;
  overflow: hidden;
  width: 80vw;
  margin: auto;
  padding: 0px 30px;
}
.track {
  display: flex;
  gap: 40px;
  width: max-content;
  position: relative;
}
.inner {
  flex-shrink: 0;
}
.inner i {
  margin-right: 5px;
  font-size: 20px;
}
.inner h3 {
  font-size: clamp(30px, 5vw, 40px);
}
.inner h3:nth-child(2),
.inner h3:nth-child(4),
.inner h3:nth-child(6),
.inner h3:nth-child(8) {
  font-weight: 400;
}
.left-layer {
  position: absolute;
  height: 200%;
  width: 7%;
  left: -10px;
  top: 0;
  background: #000;
  box-shadow: 15px 0px 20px #000000;
}
.right-layer {
  position: absolute;
  height: 200%;
  width: 7%;
  right: -10px;
  top: 0;
  background: #000;
  box-shadow: -15px 0px 20px #000000;
}

/*------------------
 SECTION - 3 SERVICES 
 -----------------*/
.servicesSec {
  min-height: 100vh;
  display: block;
  padding: 50px 0px;
  text-align: center;
}
.allh2 {
  font-size: clamp(14px, 14px, 16px);
  font-weight: 500;
  margin-bottom: 35px;
  padding: 8px 12px;
  border: 1px solid #ffffff46;
  border-radius: 8px;
  width: fit-content;
}
.allh1 {
  font-size: clamp(24px, 5vw, 50px);
  line-height: clamp(2rem, 8vw, 5vw);
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
.allp {
  font-size: clamp(14px, 16px, 16px);
  line-height: clamp(1.5rem, 1.5rem, 1.5rem);
  color: #ffffffaf;
  text-align: center;
}

/*----------------------
 SECTION - 4 OUR PROCESS 
 ---------------------*/

.processSec {
  display: block;
  padding: 50px 0px;
}

/*-----------------------
 SECTION - 5 CASE STUDIES 
 ----------------------*/

.casesSec {
  display: block;
  padding: 50px 0px;
}

/*------------------
 SECTION - 6 BENEFITS 
 -----------------*/

.benefitsSec {
  display: block;
  padding: 50px 0px;
}

/*------------------
 SECTION - 7 PRICING 
 -----------------*/

.pricingSec {
  display: block;
  padding: 50px 0px;
}

/*-----------------------
 SECTION - 8 TESTIMONIALS 
 ----------------------*/

.testimonialsSec {
  display: block;
  padding: 50px 0px;
}

/*-----------------------
 SECTION - 9 FAQs 
 ----------------------*/

.faqSec {
  display: block;
  padding: 50px 0px;
}

/*------------------
 SECTION - 10 PROMO 
 -----------------*/

.promoSec {
  height: fit-content;
  padding: 50px 0px;
  text-align: center;
  display: block;
}
.promotion {
  padding: 70px 50px;
  border-radius: 8px;
  width: fit-content;
  margin: auto;
  background: linear-gradient(130deg, #9976ff, #ffffff14 20% 80%, #9976ff);
}
.promotion .allh1 {
  font-size: clamp(30px, 5vw, 50px);
  line-height: clamp(2rem, 8vw, 5vw);
}
.promotion button {
  margin-top: 30px;
}

/*-----
 FOOTER
 -----*/

footer {
  padding-top: 50px;
}
.imgcol {
  align-items: baseline;
  gap: 30px;
  width: 100%;
}
.imgcol img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 8px;
}
.imgcol .logo {
  color: #fff;
  font-size: clamp(20px, 3vh, 30px);
}
.inputCol {
  align-items: end;
  gap: 30px;
}
.inputCol label {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}
.inputCol input {
  width: 19rem;
  height: 3rem;
  background-color: #343434;
  color: #fff;
  border: unset;
  border-radius: 8px;
  padding: 0px 100px 0px 15px;
}
.inputCol input::placeholder {
  color: #fff;
  font-family: Montserrat;
}
.innerInput {
  position: relative;
}
.innerInput button {
  position: absolute;
  top: 8%;
  right: 3px;
  font-size: 14px;
  background-color: #5960e8;
  color: #ffffff;
  font-weight: 400;
}
.signrow {
  margin-top: 20px;
  padding: 15px 0px;
  border-top: 1px solid #ffffff38;
}
.linkscol {
  gap: 20px;
}
.linkscol i {
  font-size: 25px;
  color: #fff;
}
.signatureCol a {
  color: #9976ff;
  text-decoration: underline;
  font-weight: 500;
}

@media (max-width: 768px) {
  /*------
  Header 
  ------*/
  .IconCol {
    display: block;
  }
  .ri-menu-4-line {
    display: block;
  }
  .nav {
    display: none;
  }
  .login {
    display: none;
  }
  .navRow {
    display: none;
  }

  /*----------------
 SECTION - 2 BRANDS 
 -----------------*/

  .left-layer,
  .right-layer {
    display: none;
  }

  /* FOOTER */
  .footer-main {
    flex-direction: column;
    gap: 30px;
    padding: 30px 0px;
  }
  .inputCol {
    align-items: start;
    gap: 15px;
    width: 100%;
  }
  .inputCol label {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
  }
  .signatureCol,
  .linkscol,
  .Reservecol {
    width: 33%;
  }
  .linkscol {
    gap: 5px;
  }
  .inputCol input {
    width: 16rem;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  /*------
    Header 
    ------*/
  .IconCol {
    display: block;
  }
  .ri-menu-4-line {
    display: block;
  }
  .nav {
    display: none;
  }
  .login {
    display: none;
  }
  .navRow {
    display: none;
  }

  /*----------------
 SECTION - 2 BRANDS 
 -----------------*/

  .left-layer,
  .right-layer {
    display: none;
  }

  /* FOOTER */
  .footer-main {
    flex-direction: column;
    gap: 30px;
    padding: 30px 0px;
  }
  .inputCol {
    align-items: start;
    gap: 15px;
    width: 100%;
  }
  .inputCol label {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
  }
  .signatureCol,
  .linkscol,
  .Reservecol {
    width: 33%;
  }
  .linkscol {
    gap: 10px;
  }
}
